## Ignore Visual Studio temporary files, build results
## Get latest from https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

## Application environment settings files shouldn't be checked in to Git 
# appsettings.Environment.json is still checked in to demonstrate the format
appsettings.Development.json
appsettings.Production.json
appsettings.Test.json
appsettings.UAT.json

# Visual Studio 2015/2017 cache/options directory
.vs/

# User-specific files
*.suo
*.sln.docstates
*.user

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

src/.vs/config/applicationhost.config
src/.vs/SubConPortal/v15/Server/sqlite3/storage.ide

#Aws logging errors when developing locally
aws-logger-errors.txt

#NodeJs packages installed via npm instead of nuget
node_modules/

#Cloudformation script gets regenerated on build, so dont need it here
src/cloudformation/cfn.yaml

#These files get regenerated with every build, so dont need them in git
src/SubConPortal.Web/wwwroot/css/*.min.css
src/SubConPortal.Web/wwwroot/js/*.min.js
src/SubConPortal.Web/wwwroot/js/*.min.js.map

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
.vsdbg/
